<div class="page-users">
    <div class="container my-5">
        <div class="row pt-5">
            <h1>Profile</h1>
        </div>

        <!--         <div class="row py-4">
            <a href="" class="btn btn-lg btn-primary">Back</a>
        </div> -->

        <div class="row py-4" *ngIf="authService.userData as user; else noUserData">
            <div class="col-12 col-lg-4 bg-white mb-3 rounded box-shadow d-flex flex-column justify-content-center">
                <span class="mr-3 text-center">
                    <img src="{{user.photoURL ? user.photoURL : 'https://via.placeholder.com/300x300.png?text=No+image'}}" alt="Image profile"
                        width="300" height="300" style="object-fit: cover">
                    <h2 class="mt-4 pb-3">Hello, <span class="fw-bold">{{ user.displayName ? user.displayName.split(' ')[0] : 'Null' }}</span></h2>
                </span>
            </div>

            <div class="col-12 col-lg-8" style="height: 100%">
                <div class="pl-4 bg-white rounded box-shadow p-5">
                    <p><span class="fw-bold">Name:</span> {{ user.displayName ? user.displayName.split(' ')[0] : 'Null' }}</p>
                    <p><span class="fw-bold">Surnames:</span> {{ user.displayName ? user.displayName.split(' ')[1] + ' ' +
                        user.displayName.split(' ')[2] : 'Null' }}</p>
                    <p><span class="fw-bold">Email:</span> {{user.email }}</p>
                    <p><span class="fw-bold">User ID:</span> {{user.uid }}</p>
                    <p><span class="fw-bold">Email Verified:</span> {{ user.emailVerified ? 'Yes' : 'No' }}</p>

                    <button class="btn btn-lg btn-danger" (click)="authService.SignOut()">SignOut</button>
                </div>
            </div>
        </div>

        <ng-template #noUserData>
            <div class="row py-4">
                <div class="alert alert-danger" role="alert">
                    No user information found
                </div>
            </div>
        </ng-template>
    </div>
</div>