<div class="page-pokemon">
  <div *ngIf="pokemons.length; else noPokemonData" class="container my-5">
    <div class="row">
      <h1>#{{ pokemons[0].getId() }}</h1>
    </div>

    <div class="container">
      <div class="row py-4">
        <div class="col-12 col-lg-4 bg-white mb-3 rounded box-shadow d-flex flex-column justify-content-center">
          <span class="mr-3 text-center">
              <mdb-carousel [isControls]="false" [animation]="'slide'" width="300" height="300">
                <mdb-carousel-item *ngFor="let image of pokemons[0].getSprintes()">
                  <img class="d-block w-100" src="{{ image }}" alt="First slide">
                </mdb-carousel-item>
              </mdb-carousel>
            <h2 class="mt-4 pb-3 text-capitalize"><b>{{ pokemons[0].getName() }}</b></h2>
          </span>
        </div>

        <div class="col-12 col-lg-8" style="height: 100%">
          <div class="pl-4 bg-white rounded box-shadow p-5">
            <p>
              <span *ngFor="let type of pokemons[0].getTypes()"
                style="background-color: {{ pokemons[0].getColorByType(type) }} ;" class="color-white info_span">{{ type
                }}</span>
            </p>
            <p><b>Height: </b> {{ pokemons[0].getHeight() + ' | '}} <b>Weight:</b> {{ pokemons[0].getWeight() }} </p>
            <p><b>Abilities:</b> {{ pokemons[0].getAbilities() }}</p>
            <p><b>Base experience:</b> {{ pokemons[0].getBaseExperience() }}</p>
          </div>
        </div>
      </div>

      <div class="row pt-4">
        <h2>Stats</h2>
        <div class="progress mt-3" style="height: 25px;" *ngFor="let stat of pokemons[0].getStats()">
          <div class="progress-bar progress-bar-info" role="progressbar" style="width: {{ stat.getBaseStat() }}%"
            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
            <span class="text-uppercase">{{stat.getName() + ' : ' }} <b>{{ stat.getBaseStat() }}</b></span>
          </div>
        </div>
      </div>
    </div>

    <div class="row pt-4 justify-content-center">
      <h2>Moves</h2>
      <span *ngFor="let move of pokemons[0].getMoves()" class="color-white info_move me-2 mt-2 bg-primary">{{ move }}</span>
    </div>
  </div>

  <ng-template #noPokemonData>
    <div class="container my-5">
      <div class="alert alert-danger w-100" role="alert">No se ha encontrado el Pokémon</div>
    </div>
  </ng-template>
</div>
